body{
    background-color: ivory;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: gray;
    text-align: center;
}
h2{
    background-color: #B9B7BD;
    text-align: center;
}
h3{
    color: #868B8E;
    text-align: center;
}
img{
    text-align: center;
    width: 1300px;
    height: 700px;
}
div{
    text-align: justify;
}
.clasedemoda{
    border-color:gray solid 10px ;
    text-align: center;
}
p{
    text-align: justify;
}